<h1>STUPID COACHING</h1>

<!-- User question (from ask) -->
<p>
<%= "Your question: #{@question}" %>
</p>
<!-- Coach answer -->
<h2>
<%= @answer %>
</h2>
<%= image_tag("fergie.webp", class: "rounded mx-auto d-block", alt: "fergie") %>
